@model IEnumerable<Model.Kunde>

@{
    ViewBag.Title = "Admin";

    var ID = Session["idAdmin"].ToString();
    var navn = Session["AdminNavn"].ToString();
}

<h2>Admin</h2>

<p>
    @Html.ActionLink("Create New", "")
    du er logget inn som: @navn <br />
    med ID: @ID
</p>

@Html.ActionLink("Logg ut", "Loggut")

@Html.ActionLink("Se Loggs", "Loggs")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fornavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etternavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fornavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etternavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditKunde", new { id = item.ID }) |
                @Html.ActionLink("Delete", "SlettKunde", new { id = item.ID }) |
                @Html.ActionLink("Se Reisen", "AdminReise", new { id = item.ID })
            </td>
        </tr>
    }

    @Html.ActionLink("Oversik over admins", "listAdmin")

</table>