@model Model.Reise

@{
    ViewBag.Title = "ReiseAdmin";

    var ID = Session["idAdmin"].ToString();
    var navn = Session["AdminNavn"].ToString();
}

<h3 class="hAdmin2">Du er logget inn som: @navn <br>ID:@ID</h3>
<h1 class="hAdminReise">ReiseInfo</h1>

<div class="borderStrekk2 form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            <div class="row">
                <div class="spaceAdminInfo webflow-style-input col-md-6">
                    <label class="biggerText">Fra</label>
                    @Html.EditorFor(model => model.Fra, new { htmlAttributes = new { @class = "stopInput biggerText" , list = "fromSuggestions", name = "Fra"} })
                    <datalist id="fromSuggestions">
                    </datalist>
                    @Html.ValidationMessageFor(model => model.Fra, "", new { @class = "text-danger" })
                </div>
                <div class="spaceAdminInfo webflow-style-input col-md-6">
                    <label class="biggerText">Til</label>
                    @Html.EditorFor(model => model.Til, new {htmlAttributes = new {@class = "stopInput biggerText", list = "toSuggestions", id = "til", name = "Til"}})
                    <datalist id="toSuggestions">
                    </datalist>
                    @Html.ValidationMessageFor(model => model.Fra, "", new {@class = "text-danger"})
                </div>
            </div>        
            <div class="row">
                <div class="spaceAdminInfo webflow-style-input col-md-6">
                    <label class="biggerText">Dato</label>
                    @Html.EditorFor(model => model.Dato, new {htmlAttributes = new {@class = "biggerText"}})
                    @Html.ValidationMessageFor(model => model.Dato, "", new {@class = "text-danger"})
                </div>
                <div class="spaceAdminInfo webflow-style-input col-md-6">
                    <label class="biggerText">Tid</label>
                    @Html.EditorFor(model => model.Tid, new { htmlAttributes = new { @class = "biggerText" } })
                    @Html.ValidationMessageFor(model => model.Tid, "", new { @class = "text-danger" })
                </div>
            </div>        
            <div class="row">
                <div class="spaceAdminInfo webflow-style-input col-md-6">
                    <label class="biggerText">Pris</label>
                    @Html.EditorFor(model => model.Pris, new { htmlAttributes = new { @class = "biggerText" } })
                    @Html.ValidationMessageFor(model => model.Pris, "", new { @class = "text-danger" })
                </div>
                <div class="spaceAdminInfo webflow-style-input col-md-6">
                    <label class="biggerText">Spor</label>
                    @Html.EditorFor(model => model.Spor, new { htmlAttributes = new { @class = "biggerText" } })
                    @Html.ValidationMessageFor(model => model.Spor, "", new { @class = "text-danger" })
                </div>
            </div>        
            <div class="row">
                <div class="spaceAdminInfo webflow-style-input col-md-6">
                    <label class="biggerText">Tog</label>
                    @Html.EditorFor(model => model.Tog, new {htmlAttributes = new {@class = "biggerText"}})
                    @Html.ValidationMessageFor(model => model.Tog, "", new {@class = "text-danger"})
                </div>
                <div class="spaceAdminInfo webflow-style-input col-md-6">
                    <label class="biggerText">Bytter</label>
                    @Html.EditorFor(model => model.Bytter, new {htmlAttributes = new {@class = "biggerText"}})
                    @Html.ValidationMessageFor(model => model.Bytter, "", new {@class = "text-danger"})
                </div>
            </div>        
            <div class="row">
                <div class="spaceAdminInfo webflow-style-input col-md-6">
                    <label class="biggerText">Avgang</label>
                    @Html.EditorFor(model => model.Avgang, new {htmlAttributes = new {@class = "biggerText"}})
                    @Html.ValidationMessageFor(model => model.Avgang, "", new {@class = "text-danger"})
                </div>
                <div class="spaceAdminInfo webflow-style-input col-md-6">
                    <label class="biggerText">Ankomst</label>
                    @Html.EditorFor(model => model.Ankomst, new {htmlAttributes = new {@class = "biggerText"}})
                    @Html.ValidationMessageFor(model => model.Ankomst, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
    
        <div class="form-horizontal">
            <button class="AdminMenu tilbake btn"><a class="ekstraPadding AdminMenu" href="/Home/SlettReise?id=@Model.ID">Slett Reisen</a></button>
            <button type="submit" value="Edit" class="AdminMenu tilbake btn">Lagre endringer</button>
        </div>
    }
</div>
<button class="AdminMenu tilbake btn"><a class="ekstraPadding AdminMenu" href="/Home/Admin?id=@Model.ID">Tilbake</a></button>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>