@model IEnumerable<Model.Kunde>

@{
    ViewBag.Title = "Admin";

    var ID = Session["idAdmin"].ToString();
    var navn = Session["AdminNavn"].ToString();
}

<h3 class="hAdmin2">Du er logget inn som: @navn <br>ID:@ID</h3>
<h1 class="hAdmin">Administrasjon side</h1>

<button class="AdminMenu tilbake btn">@Html.ActionLink("Logg ut", "Loggut", null, new {@class = "AdminMenu ekstraPadding2"})</button>
<button class="AdminMenu tilbake btn">@Html.ActionLink("Se Loggs", "Loggs",null, new {@class = "AdminMenu ekstraPadding2"})</button>
<button class="AdminMenu tilbake btn">@Html.ActionLink("Oversik over admins", "listAdmin",null, new {@class = "AdminMenu ekstraPadding2"})</button>

<table class="table">
    <tr class="boksReisevalg2 row">
        <th>
            @Html.DisplayNameFor(model => model.Fornavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etternavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="boksReisevalg row">
            <td>
                @Html.DisplayFor(modelItem => item.Fornavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etternavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                <button class="AdminMenu2 tilbake btn">@Html.ActionLink("Edit", "EditKunde", new { id = item.ID },new {@class = "AdminMenu2 ekstraPadding3"})</button>
                <button class="AdminMenu2 tilbake btn">@Html.ActionLink("Delete", "SlettKunde", new { id = item.ID },new {@class = "AdminMenu2 ekstraPadding3"})</button>
                <button class="AdminMenu2 tilbake btn">@Html.ActionLink("Se Reisen", "AdminReise", new { id = item.ID },new {@class = "AdminMenu2 ekstraPadding3"})</button>
            </td>
        </tr>
    }



</table>