@model Gruppeoppgave1.Models.Billett

@{
    ViewBag.Title = "Billett";
}

<h2>Billett</h2>

<div>
    <h4>Billett</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<dt>
    @Html.DisplayNameFor(model => model.ID)
</dt>

<dd>
    @Html.DisplayFor(model => model.ID)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Kunde.Fornavn)
</dt>

<dd>
    @Html.DisplayFor(model => model.Kunde.Fornavn)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Kunde.Etternavn)
</dt>

<dd>
    @Html.DisplayFor(model => model.Kunde.Etternavn)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Kunde.Email)
</dt>

<dd>
    @Html.DisplayFor(model => model.Kunde.Email)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Kunde.Telefon)
</dt>

<dd>
    @Html.DisplayFor(model => model.Kunde.Telefon)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Reise.Fra)
</dt>

<dd>
    @Html.DisplayFor(model => model.Reise.Fra)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Reise.Til)
</dt>

<dd>
    @Html.DisplayFor(model => model.Reise.Til)
</dd><dt>

    @Html.DisplayNameFor(model => model.Reise.Dato)
</dt>

<dd>
    @Html.DisplayFor(model => model.Reise.Dato)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Reise.Tid)
</dt>

<dd>
    @Html.DisplayFor(model => model.Reise.Tid)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Reise.Pris)
</dt>

<dd>
    @Html.DisplayFor(model => model.Reise.Pris)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Reise.Spor)
</dt>

<dd>
    @Html.DisplayFor(model => model.Reise.Spor)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Reise.Tog)
</dt>

<dd>
    @Html.DisplayFor(model => model.Reise.Tog)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Reise.Bytter)
</dt>

<dd>
    @Html.DisplayFor(model => model.Reise.Bytter)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Reise.Avgang)
</dt>

<dd>
    @Html.DisplayFor(model => model.Reise.Avgang)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Reise.Ankomst)
</dt>

<dd>
    @Html.DisplayFor(model => model.Reise.Ankomst)
</dd>



<p>
    @*
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    *@
</p>
