@using Gruppeoppgave1.Models
@model Gruppeoppgave1.Models.KundeReise


@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function () {
        $("#dato").datepicker({
          dateFormat:"dd-mm-yy",  
          minDate: -0,  
          maxDate: "+12M +0D"
        })

    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1 class="center-block" xmlns="http://www.w3.org/1999/html"> Hei, hvor vil du reise?</h1>

    <div class="form-row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.reise.Dato, htmlAttributes: new { @class = "control-label col-md-2",  min = @DateTime.Now.ToString("yyyy-MM-dd")})
            @Html.EditorFor(model => model.reise.Dato, new { htmlAttributes = new { autocomplete = "off", @class = "form-control" ,  id = "dato", name = "Dato"} })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.reise.Tid, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.reise.Tid, new SelectList(Model.reiseTidene, "Value", "Text"), new { @class = "form-control", type = "time", id = "tid", name = "Tid" })
        </div> 
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.reise.Fra, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.reise.Fra, new { htmlAttributes = new { @class = "stopInput form-control", type = "text", list ="fromSuggestions", name = "Fra", placeholder="Fra" } })
            <datalist id="fromSuggestions">
            </datalist>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.reise.Til, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.reise.Til, new { htmlAttributes = new { @class = "stopInput form-control", type = "text", list = "toSuggestions",id="til", name = "Til", placeholder = "Til" } })
            <datalist id="toSuggestions">
            </datalist>
        </div>
        <div class="form-row">
            <div class="form-group dol-md-1">
                <button type="submit" class="btn btn-primary">Se avganger</button>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "ReiseInfo")
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>