@using Gruppeoppgave1.Models
@model Gruppeoppgave1.Models.KundeReise


@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function() {
        $("#dato").datepicker({
            dateFormat: "dd-mm-yy",
            minDate: -0,
            maxDate: "+12M +0D"
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1 class="hForside"  class="center-block" xmlns="http://www.w3.org/1999/html"> Hei, hvor vil du reise?</h1>

    <div class="form-row">
        <div class="space ekstraPadding webflow-style-input form-group col-md-5">
            @Html.EditorFor(model => model.reise.Fra, new {htmlAttributes = new {@class = "stopInput fyll", type = "text", list = "fromSuggestions",  name = "Fra", placeholder = "Fra"}})
            <datalist id="fromSuggestions">
            </datalist>
        </div>
        <div class="space ekstraPadding webflow-style-input form-group col-md-5">
            @Html.EditorFor(model => model.reise.Til, new {htmlAttributes = new {@class = "stopInput fyll", type = "text", list = "toSuggestions", id = "til", name = "Til", placeholder = "Til"}})
            <datalist id="toSuggestions">
            </datalist>
        </div>
        <div class="space ekstraPadding webflow-style-input form-group col-md-5">
            @Html.EditorFor(model => model.reise.Dato, new {htmlAttributes = new {placeHolder="Dato",autocomplete = "off", @class = "fyll", id = "dato", name = "Dato"}})
        </div>
        <div class="space webflow-style-input form-group col-md-5">
            @Html.DropDownListFor(model => model.reise.Tid, new SelectList(Model.reiseTidene, "Value", "Text"), new {@class = "select form-control", type = "time", id = "tid", name = "Tid"})
        </div>
        <div class=" form-group col-md-5">
            <button type="submit" class="btn btn-primary">Se avganger</button>
        </div>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>