@model Gruppeoppgave1.Models.Kunde

@{
    Session["Pris"] = Request["Pris"];
}


<!DOCTYPE html>
<html lang="no">

<head>
    <title>Info</title>
</head>
<body>

<p>Prisen er: @Session["Pris"]</p>

@*<div class="container table-bordered">
    <h1>Din billett!</h1>
    <div class="col-lg-6">
        <label>Email:</label>
        @Session["Email"]
        <br/><label>Fornavn:</label>
        @Session["Fornavn"]
        <br/><label>Etternavn:</label>
        @Session["Etternavn"]
        <br/><label>Telefon:</label>
        @Session["Telefon"]
    </div>
    <div class="col-lg-6">
        <br/><label>Dato:</label>
        @Session["Dato"]
        <br/><label>Fra:</label>
        @Session["Fra"]
        <br/><label>Til:</label>
        @Session["Til"]
    </div>
</div>*@
</body>
</html>