@model Gruppeoppgave1.Models.Kunde

@{
    ViewBag.Title = "info";

    @Html.Hidden("email", Request["email"]);
    @Html.Hidden("Fornavn", Request["Fornavn"]);
    @Html.Hidden("Etternavn", Request["Etternavn"]);
    @Html.Hidden("Telefon", Request["Telefon"]);
}

<!DOCTYPE html>
<html lang="no">

<head>
    <title>Info</title>
</head>
<body>
    <div class="container table-bordered">
        <h1>Din billett!</h1>
        <div class="col-lg-6">
            <label>Email:</label>
            @Request["email"]
            <br /><label>Fornavn:</label>
            @Request["Fornavn"]
            <br /><label>Etternavn:</label>
            @Request["Etternavn"]
            <br /><label>Telefon:</label>
            @Request["Telefon"]
        </div>
        <div class="col-lg-6">
            <br /><label>Dato:</label>
            @Request["Dato"]
            <br /><label>Fra:</label>
            @Request["Fra"]
            <label>Til:</label>
            @Request["Til"]
        </div>
    </div>
</body>
</html>