@using Gruppeoppgave1.Models
@model Gruppeoppgave1.Models.Kunde

@{
    Session["FraTil"] = Request["FraTil"];
    Session["Tid"] = Request["Tid"];
    Session["Bytter"] = Request["Bytter"];
    Session["Spor"] = Request["Spor"];
    Session["Tog"] = Request["Tog"];
    Session["Pris"] = Request["Pris"];

}


<!DOCTYPE html>
<html lang="no">

<head>
    <title>Info</title>
</head>
<body>
<div class="container table-bordered">
    <h1>Din billett!</h1>
    <div class="col-lg-6">
        <label>Pris</label>
        @Session["Pris"]
        <br/><label>Tog:</label>
        @Session["Tog"]
        <br/><label>Bytter:</label>
        @Session["Bytter"]
        <br/><label>Spor</label>
        @Session["Spor"]
    </div>
    <div class="col-lg-6">
        <br/><label>Tid</label>
        @Session["Tid"]
        <br/><label>Fra og til:</label>
        @Session["FraTil"]
    </div>
</div>
</body>
</html>