@using Model
@model IEnumerable<Model.Admin>

@{
    ViewBag.Title = "listAdmin";

    var Id = Session["idAdmin"].ToString();
    var navn = Session["AdminNavn"];
    
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brukernavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passord)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @{
                if (item.ID == 1)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Brukernavn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Passord)
                    </td>
                    <td>
                    </td>
                    continue; 
                }

                if (Id == "1")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Brukernavn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Passord)
                    </td>
                    <td>
                        @Html.ActionLink("Slett admin", "slettAdmin", new {id = item.ID})
                    </td>
                    continue;
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.Brukernavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passord)
            </td>
            <td>
                bare hoved Admin kan slette andre Adminds
            </td>
            
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Lag Admin", "lagAdmin")
    du er logget inn som: @navn <br />
    med ID: @Id
</p>