@model IEnumerable<Gruppeoppgave1.Models.Admin>

@{
    ViewBag.Title = "listAdmin";
}

<h2>listAdmin</h2>

<p>
    @Html.ActionLink("Lag Admin", "lagAdmin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brukernavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passord)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brukernavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passord)
        </td>
        <td>
            @Html.ActionLink("Slett admin", "slettAdmin", new { id=item.ID })
        </td>
    </tr>
}

</table>
