@using Gruppeoppgave1.Models
@model Gruppeoppgave1.Models.KundeReise

@{
    ViewBag.Title = "ReiseInfo";
}

<h2>ReiseInfo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Kunde</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.kunde.Fornavn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kunde.Fornavn, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.kunde.Fornavn) } })
            @Html.ValidationMessageFor(model => model.kunde.Fornavn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kunde.Etternavn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.kunde.Etternavn, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.kunde.Etternavn) } })
            @Html.ValidationMessageFor(model => model.kunde.Etternavn, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kunde.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kunde.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "OlaNordmann@hotmail.com" } })
            @Html.ValidationMessageFor(model => model.kunde.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kunde.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kunde.Telefon, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.kunde.Telefon) } })
            @Html.ValidationMessageFor(model => model.kunde.Telefon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kunde.Kredittkort.Kortnummer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kunde.Kredittkort.Kortnummer, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.kunde.Kredittkort.Kortnummer) } })
            @Html.ValidationMessageFor(model => model.kunde.Kredittkort.Kortnummer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kunde.Kredittkort.Utlopsdato, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kunde.Kredittkort.Utlopsdato, new { htmlAttributes = new { @class = "form-control", placeholder = "10/22" } })
            @Html.ValidationMessageFor(model => model.kunde.Kredittkort.Utlopsdato, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kunde.Kredittkort.Cvc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kunde.Kredittkort.Cvc, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.kunde.Kredittkort.Cvc) } })
            @Html.ValidationMessageFor(model => model.kunde.Kredittkort.Cvc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <h4>Reise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reise.Fra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Fra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Til)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Til)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Dato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Dato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Tid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Tid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Pris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Pris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Spor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Spor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Tog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Tog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Bytter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Bytter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Avgang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Avgang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Ankomst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Ankomst)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
