@using Gruppeoppgave1.Models
@model Gruppeoppgave1.Models.KundeReise

@{
    ViewBag.Title = "Reiser";
}

<h2>Reiser</h2>

<div>
    <h4>Reise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reise.Fra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Fra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Til)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Til)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Dato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Dato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Tid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Tid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Pris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Pris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Spor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Spor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Tog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Tog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Bytter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Bytter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Avgang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Avgang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reise.Ankomst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reise.Ankomst)
        </dd>

    </dl>
</div>
<p>
    @*
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index") *@
</p>
